<h3>Ancestor 7</h3>
<p>
    Ancestor 7 object:<br />
    @SimpleObject?.Id<br />
    @SimpleObject?.Name<br />    
    <button class="btn btn-primary" @onclick="DecrementCount">Decrement</button>
    <button class="btn btn-primary" @onclick="IncrementCount">Increment</button>
</p>

<CascadingValue Value="@SimpleObject">
    <Parent7 OnUpdate="Update"/>
</CascadingValue>

@code {
    [CascadingParameter]
    public SimpleObject? SimpleObject { get; set; }
    [ParameterAttribute]
    public EventCallback OnUpdate { get; set; }

    private void DecrementCount()
    {
        SimpleObject.Id--;
        Update();
    }

    private void IncrementCount()
    {
        SimpleObject.Id++;
        Update();
    }

    public void Update()
    {
        OnUpdate.InvokeAsync();
        StateHasChanged();
    }
}
