<h3>Object in Root</h3>

<p>
    Root object (O):<br />
    @SimpleObject?.Id<br />
    @SimpleObject?.Name<br />
    <button class="btn btn-primary" @onclick="DecrementCount">Decrement</button>
    <button class="btn btn-primary" @onclick="IncrementCount">Increment</button><br />
    <button class="btn btn-primary" @onclick="SetObject">Set Object</button>
    <button class="btn btn-primary" @onclick="ResetObject">Reset Object</button>
</p>

<CascadingValue Value="@SimpleObject">
    <table>
        <tr>
            <td><Ancestor OnUpdate="Update" /></td>
            <td><Ancestor2 OnUpdate="Update" /></td>
        </tr>
    </table>
</CascadingValue>

@code {
    [CascadingParameter]
    public SimpleObject? SimpleObject { get; set; } = new();
    [CascadingParameter]
    public EventCallback OnUpdate { get; set; }

    private void ResetObject()
    {
        SimpleObject = new();
    }

    private void SetObject()
    {
        SimpleObject.Id = 42;
        SimpleObject.Name = "This is the string";
        SimpleObject.Allow = true;

        Update();
    }

    private void DecrementCount()
    {
        SimpleObject.Id--;
        Update();
    }

    private void IncrementCount()
    {
        SimpleObject.Id++;
        Update();
    }

    public void Update()
    {
        OnUpdate.InvokeAsync();
        StateHasChanged();
    }
}
