@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app. This is a demo page showcasing various parts of projects.</p>
<!-- Link to the GitHub repository -->
<section>
    <h2>Source Code</h2>
    <p>The source code for this project can be viewed on GitHub:</p>
    <p><a href="https://github.com/TravisBack/wasm.travisback.com" target="_blank">https://github.com/TravisBack/wasm.travisback.com</a></p>
</section>

<section>
    <h2>Cascading Parameters</h2>
    <p>
        The Bidirectional Cascading Parameters Demo in C# Blazor showcases the dynamic capabilities of cascading parameters within the Blazor framework. Unlike traditional cascading parameters that pass data strictly down through a component hierarchy, this demo illustrates the advanced functionality of passing data both up and down the hierarchy, as well as across different branches.
    </p>
</section>


<!-- Description of the Weather Razor component -->
<section>
    <h2>Weather Component</h2>
    <p>
        This Razor component provides real-time weather information using data retrieved
        from the integrated Weather API within the project. Users can view current weather
        conditions, temperature, and other relevant details for a specified location.
    </p>
</section>

<!-- Description of the Sportsbook Razor component -->
<section>
    <h2>Sportsbook Component</h2>
    <p>
        This Razor component represents a simple sportsbook page that allows users to select a sports league from a dropdown
        and displays information about the selected league using the ApiService.
    </p>
</section>

<!-- Description of the FizzBuzzFuzz Razor component -->
<section>
    <h2>FizzBuzzFuzz Component</h2>
    <p>
        This Razor component demonstrates the FizzBuzzFuzz algorithm for numbers 1 to 100.
        It calculates a byte of 8 bits for each number based on divisibility rules
        and displays the result in an HTML table.
    </p>
</section>

<!-- Add more content or sections as needed -->
