@page "/unityinblazor"

<h3>UnityInBlazor</h3>

<p>
    Unity WebGL is a powerful tool for creating interactive 3D experiences on the web. Combining Unity WebGL with a Blazor application brings the best of both worlds: the rich, interactive content of Unity and the flexibility and ease of development of Blazor. By embedding Unity WebGL into a Blazor application, developers can leverage the power of Unity's game engine to create immersive experiences, while still enjoying the benefits of Blazor's component-based architecture. This allows for seamless integration of Unity content within a Blazor application, enabling developers to create sophisticated, engaging experiences with minimal effort.
</p>
<p>
    Unity WebGL is not only limited to 3D experiences but also offers robust 2D capabilities. It supports Sprite-based animations, 2D physics, and a wide range of tools and features specifically designed for 2D game development. By integrating Unity's 2D capabilities into a Blazor application, developers can create a variety of 2D games, simulations, and interactive applications that run directly in the browser. This combination of 2D and 3D capabilities makes Unity WebGL an incredibly versatile tool for creating rich, engaging content that can be accessed across a wide range of devices.
</p>

<a href="https://unityinblazor.travisback.com/" target="_blank">Simple 2D Example</a>
<br />
Simple 3D Example (Coming Soon)


@code {

}
